/* Estilo para el header */
header {
    display: flex;
    flex-direction: column; /* El contenedor header se organiza en columna */
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Contenedor superior (logo, buscador y carrito) */
  .header-top {
    display: flex;
    justify-content: space-between; /* Separar los elementos */
    align-items: center;
    width: 100%; /* Ocupa todo el ancho */
    max-width: 1200px; /* Ancho máximo para evitar que se expandan demasiado */
    padding: 20px; /* Padding para dar espacio */
    box-sizing: border-box; /* Para incluir el padding en el cálculo del ancho */
  }
  
  /* Logo */
  .logo {
    margin-right: 20px; /* Espacio entre el logo y el buscador */
  }
  
  /* Buscador */
  .buscador {
    display: flex;
    justify-content: center;
  }
  
  .buscador input[type="text"] {
    padding: 14px;
    font-size: 16px;
    border: 3px solid #000;
    border-radius: 7px;
    width: 300px;
    outline: none;
  }
  
  /* Carrito */
  .carrito {
    margin-left: 20px; /* Espacio entre el carrito y el buscador */
  }
  
  /* Menú debajo del buscador y el carrito */
  .menu {
    width: 100%; /* Asegura que el menú ocupe todo el ancho */
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px; /* Espacio entre el buscador y el menú */
  }
  
  .menu ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu ul li {
    margin: 0 15px;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    transition: color 0.3s, background-color 0.3s;
  }
  
  .menu ul li a:hover {
    color: #000;
    background-color: #fff;
    border-radius: 4px;
  }
  
  /* Imagen Principal */
  .hero {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .hero-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
  .footer{
    background-color: #333;
    color: white;
  }
  
.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #333;
  border-radius: 5px;
}

/* Media Query para hacerlo responsive */
@media (max-width: 768px) {
  .header-top {
      flex-direction: column;
      align-items: center;
  }

  .buscador {
      margin-top: 10px;
      width: 100%;
  }

  .menu {
      display: none; /* Esconde el menú en pantallas pequeñas */
      width: 100%;
  }

  /* Mostrar el icono de hamburguesa */
  .hamburger {
      display: flex;
  }

  /* Menú en modo columna para pantallas pequeñas */
  .menu ul {
      flex-direction: column;
      align-items: center;
  }

  .menu ul li {
      margin-bottom: 10px;
  }

  /* Mostrar el menú cuando se active */
  .menu.active {
      display: block;
  }
}
  