<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear Producto</title>
    <link rel="stylesheet" href="/styles/crear-producto.css">
</head>
<body>
    <h1>Agregar Producto</h1>
    <form th:action="@{/pr/productos}" th:object="${producto}" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" th:field="*{nombre}" required /><br>

        <label for="precio">Precio:</label>
        <input type="number" id="precio" th:field="*{precio}" required /><br>

        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" th:field="*{descripcion}" required></textarea><br>

        <!--ACÁ ES PARA INGRESAR LOS TALLES Y EL STOCK DE CADA TALLE-->
        <label for="talle1">Talle °1:</label>
        <input type="text" id="talle1" th:field="*{talles[0].nombre}" /><br>

        <label for="stock">Stock para 1°talle:</label>
        <input type="text" id="stock1" th:field="*{talles[0].stock}" > <br>


        <label for="talle2">Talle 2:</label>
        <input type="text" id="talle2" th:field="*{talles[1].nombre}" /><br>
        
        <label for="stock">Stock para 2°talle:</label>
        <input type="text" id="stock2" th:field="*{talles[1].stock}" > <br>

        <label for="talle3">Talle 3:</label>
        <input type="text" id="talle3" th:field="*{talles[2].nombre}" /><br>

        <label for="stock">Stock para 3°talle:</label>
        <input type="text" id="stock3" th:field="*{talles[2].stock}" > <br>

        <label for="talle1">Talle 4:</label>
        <input type="text" id="talle4" th:field="*{talles[3].nombre}" /><br>
        
        <label for="stock">Stock para 4°talle:</label>
        <input type="text" id="stock4" th:field="*{talles[3].stock}" > <br>

        <label for="talle2">Talle 5:</label>
        <input type="text" id="talle5" th:field="*{talles[4].nombre}" /><br>
        
        <label for="stock">Stock para 5°talle:</label>
        <input type="text" id="stock5" th:field="*{talles[4].stock}" > <br>

        <label for="imagenUrl">URL de Imagen:</label>
        <input type="text" id="imagenUrl" th:field="*{imagenUrl}"  /><br>

        <label for="categorias">Categorias:</label>
        <input type="text" id="categorias" th:field="*{categorias}"required /><br>

        <button type="submit">Agregar Producto</button>
    </form>
    <a href="/pr/listar-productos">Ver Productos</a>
</body>
</html>
