<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Pagina Producto</title>
		<link rel="stylesheet" href="listar-productos.css">
	</head>
	<body>
		<header>
			<h1>Logo</h1>
		</header>

		<div class="container-title">Zapatos</div>

		<main>
			<div class="container-img">
				<img
					src="https://images.unsplash.com/photo-1560769629-975ec94e6a86?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
					alt="imagen-producto"
				/>
			</div>
			<div class="container-info-product">
				<!-- Detalles del producto aquí -->
				<!-- ... -->
			</div>
		</main>

		<!-- Integración de Thymeleaf para la lista de productos relacionados -->
		<section class="container-related-products">
			<h2>Productos Relacionados</h2>
			<div class="card-list-products">
				<div class="card" th:each="producto : ${productos}">
					<div class="card-img">
						<img th:src="${producto.imagenUrl}" alt="producto-relacionado" />
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3 th:text="${producto.nombre}">Nombre del producto</h3>
							<p class="category">Footwear, Sneakers</p>
						</div>
						<div class="price" th:text="${producto.precio}">$XX.XX</div>
					</div>
				</div>
			</div>
		</section>

		<footer>
			<p>Footer</p>
		</footer>
	</body>
</html>
